.wrapper {
  display: flex;
  height: 0;
  flex: auto;
}

.list {
  flex: 1 0 0;
  padding: 0 15px;
  /* overflow: auto; */
  /* Momentum scrolling on iOS */
  -webkit-overflow-scrolling: touch;
}

.searchWrapper {
  display: flex;
  flex-direction: column;
}

.info {
  flex: 2 0 0;
  padding: 20px;
  overflow: auto;
  /* Momentum scrolling on iOS */
  -webkit-overflow-scrolling: touch;
}

.backBtn {
  display: none;
}

@media (max-width: 1000px) {
  .clubSelected .list {
    display: none;
  }

  .backBtn {
    display: block;
  }
}
