/* https://fonts.google.com/specimen/Montserrat?sidebar.open=true&selection.family=Montserrat:wght@300;500;700 */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;700&display=swap');

:root {
  --pink: #ffa789;
  --orange: #f4b869;
  --light-orange: #f4cb87;
  --dark-orange: #f0a35b;
  --very-light-orange: #f7cd96;
  --blue: #A0B4C7;
  --brown: #806961;
}

html {
  height: 100%;
}

h1{
  padding-left: 1rem; 
  margin-bottom: .2px; 
  color: #f0a35b; 
}



body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* overflow: hidden; */
}

html,
body,
#root {
  display: flex;
  flex-direction: column;
  flex: auto;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

button {
  -webkit-appearance: none;
  border: none;
  background: none;
  color: inherit;
  font: inherit;
}
